:root {
    --fade-time: 1s;
    --fade-visible-opacity: 1;
    --fade-hidden-opacity: 0;
}

.fade-base {
    opacity: var(--fade-visible-opacity);
    transition: opacity var(--fade-time);
    -webkit-transition: opacity var(--fade-time);
    -moz-transition: opacity var(--fade-time);
}

.fade {
    opacity: var(--fade-hidden-opacity);
    pointer-events: none;
}
